/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .main_image{
   background-image: image-url('circuit.jpg');
 }
 .circuit_index{
   background-image: image-url('checker_flag.jpg');
 }
 .circuit_show{
   background-image: image-url('checker_flag.jpg');
 }
 /*テーブルの文字背景だけを半透明にしたい現時点で文字が読みにくい背景に同化する。）*/
 .table_text-white_bg-secondary{
  background-color: transparent;
 }
 .registnew{
   background-image: image-url('pit.jpg');
 }
 .partindex{
   background-image: image-url('cluttered_garage.jpg');
 }
 .partnew{
   background-image: image-url('pit.jpg');
 }
 .partshow{
   background-image: image-url('engine_maintenance.jpg');
 }
 .postnew{
   background-image: image-url('cluttered_garage.jpg');
 }
 .postshow{
   background-image: image-url('pit.jpg');
 }
 .sessionsnew{
   background-image: image-url('flashy_garage.jpg');
 }
 .eventedit{
   background-image: image-url('car_race.jpg');
 }
 .eventindex{
   background-image: image-url('car_race.jpg');
 }
 .eventnew{
   background-image: image-url('car_race.jpg');
 }
 .eventshow{
   background-image: image-url('car_race.jpg');
 }
 .useredit{
   background-image: image-url('engine_maintenance.jpg');
 }
 .userindex{
   background-image: image-url('dark_garage.jpg');
 }
 .usershow{
   background-image: image-url('dark_parking.jpg');
 }